.header{
    width: 100%;
    padding: 5px 0;
    background: #1c2327;
    height: 50px;
    line-height: 50px;
}
.header::before {
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: "";
    height: 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-nav{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.header-nav-left a{
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}
.header-nav-right span{
    color: #fff;
    cursor: pointer;
}