.main{
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
}
.main-article{}
.main-article-title{
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    color: #484848;
    font-weight: normal;
    margin-bottom: 10px;
}
.main-article-list{}
.main-article-list-item{
    margin-bottom: 20px;
    border-bottom: #eee 1px dashed;
    padding-bottom: 20px;
    min-height: 130px;
}
.main-article-list-item-top{
    display: flex;
}
.main-article-list-item-img{
    width: 23.2%;
    margin-right: 20px;
    display: block;
    border-radius: 3px;
    position: relative;
}
.main-article-list-item-img img{
    display: block;
    max-height: 110px;
    width: 100%;
}
.main-article-list-item-message{
    flex: 1;
}
.main-article-list-item-message h6{
    cursor: pointer;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
.main-article-list-item-message p{
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 10px;
}
.main-article-list-item-bottom{
    display: flex;
    justify-content: space-between;
}
.main-article-list-item-bottom span{
    color: #999;
    font-size: 12px;
}
.main-article-list-item-bottom-left span{
    margin-right: 20px;
}